<!-- nav -->
<link rel="stylesheet" href="/css/style.css" />
<!-- Fontawesome -->
<script
src="https://kit.fontawesome.com/42a182743f.js"
crossorigin="anonymous"
></script>
<!-- Google font -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto:wght@400;500&display=swap"
rel="stylesheet"
/>
<footer>
    <div class="about">
      <h1><span class="logo-text">Khai's </span> <span>Blog</span></h1>
      <p>
        Welcome to my blog everyone, you can connect, post and make friends.
      </p>
      <!-- Contacts -->
      <div class="contact">
        <span>
          <i class="fas fa-phone"></i>
          + (61) 403493660
        </span>
        <span>
          <i class="fas fa-envelope"></i>
          
          <a href="mailto:support@inovotek.com">
            trinhlamkhai@gmail.com
          </a>
        </span>

      </div>
      <!-- socials -->
      <div class="socials">
        <a href="https://www.youtube.com/c/inovotek-academy">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.youtube.com/c/inovotek-academy">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.youtube.com/c/inovotek-academy">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.youtube.com/c/inovotek-academy">
          <i class="fab fa-facebook"></i>
        </a>
       
  </footer>